/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <175>;
};

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <19 20>;
            layers = <0>;
            timeout-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&none  &kp Q  &kp W  &kp E             &kp R        &kp T             &kp Y          &kp U  &kp I      &kp O    &kp P      &none
&none  &kp A  &kp S  &kp D             &kp F        &kp G             &kp H          &kp J  &kp K      &kp L    &kp SEMI   &none
&none  &kp Z  &kp X  &kp C             &kp V        &kp B             &kp N          &kp M  &kp COMMA  &kp DOT  &kp SLASH  &none
                     &kp LEFT_CONTROL  &lt 2 SPACE  &kp LEFT_SHIFT    &kp BACKSPACE  &mo 1  &kp ENTER
            >;
        };

        sym_layer {
            bindings = <
&none  &kp EXCLAMATION  &kp AT_SIGN       &kp AMPERSAND      &kp ASTERISK  &kp CARET           &kp GRAVE      &kp DOUBLE_QUOTES  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT   &none
&none  &kp HASH         &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EQUAL     &kp SINGLE_QUOTE    &none          &kp UNDERSCORE     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp COLON     &none
&none  &kp TILDE        &kp MINUS         &kp PLUS           &kp DOLLAR    &none               &kp BACKSLASH  &kp PIPE           &kp LESS_THAN         &kp GREATER_THAN       &kp QUESTION  &none
                                          &trans             &trans        &trans              &trans         &trans             &trans
            >;
        };

        nav_layer {
            bindings = <
&none  &kp ESCAPE        &kp HOME      &kp UP    &kp END    &kp DELETE    &kp PAGE_UP    &kp N7     &kp N8            &kp N9  &none           &none
&none  &kp LEFT_CONTROL  &kp LEFT      &kp DOWN  &kp RIGHT  &kp SPACE     &kp PAGE_DOWN  &kp N4     &kp N5            &kp N6  &kp N0          &none
&none  &kp LEFT_SHIFT    &kp LEFT_ALT  &none     &none      &none         &none          &kp N1     &kp N2            &kp N3  &kp LEFT_SHIFT  &none
                                       &trans    &trans     &trans        &trans         &lt 1 TAB  &kp LEFT_COMMAND
            >;
        };

        fn_layer {
            bindings = <
&none  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &none           &none              &none             &none       &none            &none
&none  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &kp C_NEXT  &kp PRINTSCREEN  &none
&none  &kp F11  &kp F12  &none   &none   &none      &none           &kp C_MUTE         &kp C_PLAY_PAUSE  &none       &none            &none
                         &none   &none   &none      &none           &none              &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        fn_layer_cond {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
